{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a href="{{ path('customers_new') }}">Create new</a>
    </div>
    <table>
        {% for customer in customers %}
            <tr>
                <td>
                    {{ customer.firstName }}
                </td>
                <td>
                    {{ customer.lastName }}
                </td>
                <td>
                    {{ customer.email }}
                </td>
                <td>
                    {{ customer.phone }}
                </td>
                <td>
                    {{ customer.dateOfBirth|date('Y-m-d') }}
                </td>
            </tr>
        {% else %}
            No customers found
        {% endfor %}
    </table>
{% endblock %}
